<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :html => { :class => 'form-signin' }) do |f| %>
  <%= f.error_notification %>
  <h2 class="form-signin-heading">Perdeu sua Senha?</h2>
  <br/>
  <%= f.text_field :email, :class=>"input-xxlarge", :required=>true, :autofocus=>true, :placeholder=>"Digite seu E-mail" %>
  <div class="form-actions">
    <%= f.button :submit, "Enviar instruções para recuperação de senha" %>
  </div>
  <%= link_to "Inicio", root_url %>
  <br/>
  <%= render "devise/shared/links" %>
<% end %>
