<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <%= f.error_notification %>
 	<h2 class="form-signin-heading">Login</h2>
  <br/>
  <%= f.text_field :email, :class=>"input-xxlarge", :required=>true, :autofocus=>true, :placeholder=>"E-mail" %>
  <br/>
  <%= f.password_field :password, :class=>"input-large", :required=>true, :placeholder=>"Senha" %>
  <br/>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <div class="form-actions">
  	<%= f.button :submit, "Entrar", :class => 'btn btn-large btn-primary' %>
	</div>
  <%= link_to "Inicio", root_url %>
  <br/>
	<%= render "devise/shared/links" %>
<% end %>


